name: "Pull Request Labeler"
# https://github.com/actions/labeler

on:
  - pull_request_target

permissions:
  contents: read
  pull-requests: write

jobs:
  triage:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/labeler@v3
      with:
        repo-token: "${{ secrets.GH_PAT }}"
