name: Label Commenter

on:
  issues:
    types:
      - labeled
      - unlabeled
  pull_request_target:
    types:
      - labeled
      - unlabeled

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  comment:
    runs-on: ubuntu-20.04
    timeout-minutes: 1
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          ref: main

      - name: Label Commenter
        uses: peaceiris/actions-label-commenter@6fd088c7400fb61f20eab525e39bc05cb530a069
        env:
          RUNNER_DEBUG: 1
        # with:
          # github_token: ${{ secrets.GITHUB_TOKEN }}
          # config_file: .github/label-commenter-config.yml
