name: Label Commenter

on:
  issues:
    types: [labeled, unlabeled]
  pull_request_target:
    types: [labeled, unlabeled]
  discussion:
    types: [labeled, unlabeled]

jobs:
  comment:
    runs-on: ubuntu-22.04
    timeout-minutes: 2
    permissions: {}
    # permissions:
    #   contents: read
    #   issues: write
    #   pull-requests: write
    steps:
      - uses: peaceiris/actions-github-app-token@v1.1.6
        id: app
        with:
          app_id: ${{ secrets.GH_APP_ID }}
          private_key: ${{ secrets.GH_APP_PRIVATE_KEY }}

      - uses: peaceiris/actions-label-commenter@c2d00660c86f2b9ed0fb35b372c451558eba85b3
        env:
          RUNNER_DEBUG: 1
        with:
          github_token: ${{ steps.app.outputs.token }}
          # github_token: ${{ secrets.GH_PAT }}
          # config_file: .github/label-commenter-config.yml
